/*master css file*/
/*zero out*/
*, html {
  margin: 0;
  padding: 0;
}
/*global styles*/
body {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  color: #252827;
  background-color: #F8EA8C;
}
p {
  font-size: 1em;
  margin: 1em 0;
  line-height: 1.2;
}
h1 {
  font-size: 3em;
  color: #F0F2F3;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
  margin: 0.5em 0;
}
h4 {
  font-size: 1.6em;
}
li {
  list-style: none;
}
/*core layout*/
#header-container {
  width: 100%;
  background-color: #003366;
  display: flex;
  height: 4em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  justify-content: center;
  align-items: center;
}
#main-container {
  width: 100%;
}
/*header styles*/
#header-container h1 {
  margin-right: 0.5em;
}
#header-container img {

}
/*navigation styles*/
#nav-bar {
  background-color: #71B1C5;
  width: 12em;
  max-height: calc(100vh - 6em);
  box-sizing: border-box;
  margin: 0 1em 1em 0;
  position: fixed;
  top: 5em;
  left: 0.5em;
  z-index: 1;
  overflow-y: auto;
  border-radius: 0.5em
}
#nav-bar ul {
  height: 100%;
  margin: 0.5em auto;
  padding: 0 0.5em;
}
#nav-bar li {
  position: relative;
}
#nav-bar a {
  background-color: #CBE6EF;
  color: #551A8B;
  display: block;
  border-radius: 0.5em;
  margin: 0.5em auto;
  text-decoration: none;
  padding: 0.5em;
  cursor: pointer;
}
#nav-bar a:hover {
  background-color: #F0F2F3;
}
/*main styles*/
#main-section {
  background-color: #CBE6EF;
  width: auto;
  box-sizing: border-box;
  padding: 1em;
  margin: 5em 1em 1em 13em;
  border-radius: 0.5em;
  overflow-x: hidden;
}
section article {
  margin: 1em;
  font-size: 0.96em;
}
section ul {
  margin: 1em 0 1em 1em;
}
section li {
  margin: 0.6em 0 0 1.1em;
  list-style: circle;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  line-height: 2;
  background-color: #F0F2F3;
  padding: 0.8em;
  margin: 0.6em;
  word-break: normal;
  word-wrap: normal;
}
/*phone size media query*/
@media only screen and (max-width: 414px) {
  #nav-bar {
    display: none;
    -webkit-overflow-scrolling: touch;
  }
  #main-section {
    margin: 5em 0 1em 0;
  }
}
@media only screen and (max-width: 360px) {

  }
